@media (max-width: 2851px){
    .navbar>h1 {
        margin-left: 0;
        font-size: 2.5rem;
    }

    .navbar>ul>li>a {
        font-size: 2.2rem;
    }

    .hero-section {
        display: flex;
        justify-content: space-around;
    }

    .left>h1 {
        font-size: 6.5rem;
    }

    .left>h2 {
        font-size: 7.5rem;
        margin-bottom: 20px;
    }

    .right>img {
        height: 550px;
    }
    .prodict {
        font-size: 1.5rem;
    }
    .product-ariya>img{
        height: 450px;
    }
    .fichar-product{
        justify-content:space-around;
        align-items: flex-start;
    }
    .fichar-product>img{
        height: 660px;
    }
    .product-detaild{
        margin-top: 25px;
    }
    .product-detaild>h1 {
        font-size: 6rem;
        font-weight: 800;
        line-height: 70px;
        margin-bottom: 29px;
    }
    .product-detaild>h4{
        font-size: 2rem;
    }
    .product-detaild>h3{
        font-size: 2rem;
    }
    .product-detaild>h1 {
        font-size: 3rem;
        font-weight: 800;
    }
    .footer-section{
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
}

@media(max-width:1600px) {
    .navbar>h1 {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .navbar>ul>li>a {
        font-size: 1.2rem;
    }

    .left>h1 {
        font-size: 3.5rem;
    }

    .left>h2 {
        font-size: 3.5rem;
    }
    .product-detaild>h4,h3,h2{
        font-size: 1rem;
        margin: 10px 0px 10px 0px;
    }
    .right>img {
        height: 350px;
    }
    .prodict {
        font-size: 1rem;
    }
    .product-ariya>img{
        height: 120px;
    }
    .fichar-product{
        justify-content: space-evenly;
        align-items: flex-start; 
    }
    .product-detaild{
        margin-top: 25px;
        font-size: 1.5rem;
    }
    .product-detaild>h1 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer-section{
        justify-content: space-evenly;
        font-size: 1rem;
    }
}

@media(max-width:980px) {
    .navbar>h1 {
        margin-left: 20px;
    }

    .navbar>ul {
        margin-right: 25px;
        margin-top: 25px;
    }

    .right>img {
        height: 250px;
    }

    .left {
        margin-top: 20;
        margin-left: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .product-ariya>img {
        height: 120px;
    }
    .fichar-product>img{
        height: 440px;
    }
    .left>h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    .navbar>ul>li>a {
        font-size: 1rem;
        margin-bottom: 0;
    }
}

@media(max-width:800px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .producct-section {
        flex-direction: column;
    }

    .fichar-product {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 15px;
    }
    .for-mobile{
        display: block;
        font-size: 1rem;
        font-weight: 700;
    }
   .for-pc{
    display: none;
   }
    .only-mob{
        display: block;
    }
    .ficher-pro-img{
        display: none;
    }
    .footer-section{
        flex-direction: column;
        padding: 20px;
    }
}