body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: rgb(194, 241, 235);
    background: linear-gradient(910deg, rgb(97 185 174) 0%, rgb(201 219 131) 35%, rgb(246, 230, 230) 100%) no-repeat;
}
/* ------------------navbar-section-css---------------------------- */
.navbar{
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar>h1{
    margin-left: -5%;
}
.navbar>ul{
    display: flex;
    align-items: center
}
.navbar>ul>li{
    list-style-type: none;
    margin-left: 15px;
}
.navbar>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #4c4846;
}
.navbar>ul>li>a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
  /* ----------------hero-section-css---------------- */
.hero-section {
    display: flex;
    justify-content: space-evenly;
}
.left {
    margin-top: 25px;
    margin-left: 25px;
}
.left>h1{
    font-size: 3.5rem;
    margin-bottom: 0;
}
.left>h2{
    font-family: sans-serif;
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: 900;
}
.right>img{
   height: 360px;
}
.left-btn-one{
    background-color: #4c4846;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    margin: 5px;
}
.left-btn-one:hover{
    background-color: #1d9b04;
    color: #ffffff;
    transition: .5s;
}
.left-btn-two{
    background-color: rgb(224, 217, 217) ;
    color: #4c4846;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    margin: 15px;
}
.left-btn-two:hover{
    background-color: #4c4846;
    color: #ffffff;
    transition: .5s;
}
/* ----------Product-section-css-------------------- */
.prduct{
    margin-bottom: 25px;
}
.producct-section{
    display: flex;
    justify-content: center;
}
.product-header>h1{
    text-align: center;
}
.product-ariya{
    text-align: center;
    padding: 25px;
    margin: 15px;
    background-color: #fff;
    border-radius: 0px 30px 0px 30px;
}
.product-ariya>h3{
    margin-bottom: 0px;
}
.product-ariya>img{
    height: 230px;
}
.product-ariya>p{
    margin-bottom: 20px;
}
/* ---------------------fichar-product-section-css---------------------- */
.fichar-product{
    margin-top: 45px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
}
.onli-mob{
    display: none;
}
.product-detaild{
    margin-top: 7%;
}
.product-detaild>h1{
    font-size: 2rem;
    font-weight: 300;
}
.product-detaild>h2{
    margin-top: 5;
    margin-bottom: 10;
}
.product-detaild>a{
    margin-top: 15px;
}
.ficher-btn{
    background-color: #4c4846 ;
    font-size: 1.2rem;
    padding: 12px 25px;
    border-radius: 15px;
    box-shadow: none;
    border: 0;
}
.ficher-btn:hover{
    background-color: #1d9b04;
    color: #ffffff;
    transition: .5s;
}
.ficher-btn>a{
    text-decoration: none;
    color: #ffffff;
}
.for-mobile{
    display: none;
}
.only-mob{
    display: none;
}
/* ---------------footer-section-css------------- */
.footer-section{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.contact-section>h1{
    margin-top: 0;
}
.social{
    display: flex;
    flex-direction: column;
}
.social>a{
    text-decoration: none;
    color: #4c4846;
}