header{
    background: rgb(194, 241, 235);
    background: linear-gradient(90deg, rgb(194, 241, 235) 0%, rgb(234, 235, 230) 35%, rgb(246, 230, 230) 100%);
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar>ul{
    display: flex;
}
.navbar>ul>li{
    list-style-type: none;
    margin-left: 15px;
}
.navbar>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
}
.hero-section {
    display: flex;
    justify-content: space-around;
}
.left>h1{
    font-size: 3.5rem;
    margin-bottom: 0;
}
.left>h2{
    margin-top: 0;
    font-size: 4.5rem;
    font-weight: 900;
}
.right>img{
   height: 70vh;
}